In [1]:
import sys
sys.path.append(r"/Users/t0160971/Documents/MODULES/physipandas")
import numpy as np
import pandas as pd
import physipy
from physipy import m, s, DimensionError, K, Dimension

import physipandas
from physipandas import QuantityDtype, QuantityArray

print(pd.__version__, 
      np.__version__, 
      physipy.__version__,
     physipandas.__version__,
     )

1.3.0 1.21.0 0.2.2 0.0.1

# Creation of series

In [2]:

CREATION_DICT = {
    "a":("pd.Series(QuantityArray(np.arange(10)*m))", 
          pd.Series(QuantityArray(np.arange(10)*m))),
    "b":("pd.Series(QuantityArray(np.arange(10)*m), dtype='physipy[m]')",
          pd.Series(QuantityArray(np.arange(10)*m), dtype="physipy[m]")),
    "c":("pd.Series(QuantityArray(np.arange(10)*m), dtype=QuantityDtype(m))",
          pd.Series(QuantityArray(np.arange(10)*m), dtype=QuantityDtype(m))),
    "d":("pd.Series(np.arange(10)*m, dtype='physipy[m]')",
          pd.Series(np.arange(10)*m, dtype="physipy[m]")),
}

for k, v in CREATION_DICT.items():
    print(v[0])

for k, v in CREATION_DICT.items():
    s = v[1]
    print(k, 
          s.ndim, 
          s.shape,
          s.name,
          s.size, 
          #s.nbytes,
          s.index, len(s),
          s.dtype,
          s.dtypes,
          s[0],
          s.iat[1],
          s.loc[0],
          s.iloc[0],
         )

pd.Series(QuantityArray(np.arange(10)*m))
pd.Series(QuantityArray(np.arange(10)*m), dtype='physipy[m]')
pd.Series(QuantityArray(np.arange(10)*m), dtype=QuantityDtype(m))
pd.Series(np.arange(10)*m, dtype='physipy[m]')
a 1 (10,) None 10 RangeIndex(start=0, stop=10, step=1) 10 physipy[m] physipy[m] 0 m 1 m 0 m 0 m
b 1 (10,) None 10 RangeIndex(start=0, stop=10, step=1) 10 physipy[m] physipy[m] 0 m 1 m 0 m 0 m
c 1 (10,) None 10 RangeIndex(start=0, stop=10, step=1) 10 physipy[m] physipy[m] 0 m 1 m 0 m 0 m
d 1 (10,) None 10 RangeIndex(start=0, stop=10, step=1) 10 physipy[m] physipy[m] 0 m 1 m 0 m 0 m

# Operations

In [3]:
a = pd.Series(np.arange(10)*m, dtype="physipy[m]")

In [4]:
try:
    a+1
except DimensionError:
    print("OK")

print(a+1*m)
print(a+np.arange(10)*m)
print(a+a)
print(2*a)
print(a*2)
print(a**2)
print(a/2)
print(2/a)
print(a**0.5)
print(a[0])
print(a[0:2])
print(a.iloc[0:3])

OK
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9   10
dtype: physipy[m]
0    0
1    2
2    4
3    6
4    8
5   10
6   12
7   14
8   16
9   18
dtype: physipy[m]
0    0
1    2
2    4
3    6
4    8
5   10
6   12
7   14
8   16
9   18
dtype: physipy[m]
0    0
1    2
2    4
3    6
4    8
5   10
6   12
7   14
8   16
9   18
dtype: physipy[m]
0    0
1    2
2    4
3    6
4    8
5   10
6   12
7   14
8   16
9   18
dtype: physipy[m]
0    0
1    1
2    4
3    9
4   16
5   25
6   36
7   49
8   64
9   81
dtype: physipy[m**2]
0   0.0
1   0.5
2   1.0
3   1.5
4   2.0
5   2.5
6   3.0
7   3.5
8   4.0
9   4.5
dtype: physipy[m]
0                  inf
1                  2.0
2                  1.0
3   0.6666666666666666
4                  0.5
5                  0.4
6   0.3333333333333333
7   0.2857142857142857
8                 0.25
9   0.2222222222222222
dtype: physipy[1/m]
0                  0.0
1                  1.0
2   1.4142135623730951
3   1.7320508075688772
4                  2.0
5     2.23606797749979
6    2.449489742783178
7   2.6457513110645907
8   2.8284271247461903
9                  3.0
dtype: physipy[m**0.5]
0 m
0   0
1   1
dtype: physipy[m]
0   0
1   1
2   2
dtype: physipy[m]

# Numpy ufuncs

In [5]:
print(np.sqrt(a))
print(np.abs(a))
print(np.prod(a))
print(np.hypot(a, a))
print(np.trapz(a))
print(np.mean(a))
print(np.sort(a))

0                  0.0
1                  1.0
2   1.4142135623730951
3   1.7320508075688772
4                  2.0
5     2.23606797749979
6    2.449489742783178
7   2.6457513110645907
8   2.8284271247461903
9                  3.0
dtype: physipy[m**0.5]
0   0
1   1
2   2
3   3
4   4
5   5
6   6
7   7
8   8
9   9
dtype: physipy[m]
0 m**10
0                  0.0
1   1.4142135623730951
2   2.8284271247461903
3    4.242640687119285
4    5.656854249492381
5   7.0710678118654755
6     8.48528137423857
7    9.899494936611665
8   11.313708498984761
9   12.727922061357855
dtype: physipy[m]
40.5
4.5 m
[0 1 2 3 4 5 6 7 8 9]

# Dataframes

In [6]:
df = pd.DataFrame({"a":1, "nparr":np.arange(10)})
print(df.dtypes)
df

a        int64
nparr    int64
dtype: object

   a  nparr
0  1      0
1  1      1
2  1      2
3  1      3
4  1      4
5  1      5
6  1      6
7  1      7
8  1      8
9  1      9

In [7]:
df = pd.DataFrame({"a":a, "b":2*a, "c":1/a, "nparr":np.arange(10)})

df["d"] = 2*df["a"]
df["e"] = 2/df["d"]
df["g"] = df["e"]*df["a"]/df["c"]**2
print(df.dtypes)
df

a           physipy[m]
b           physipy[m]
c         physipy[1/m]
nparr            int64
d           physipy[m]
e         physipy[1/m]
g        physipy[m**2]
dtype: object

  a  b                   c  nparr  d                   e                  g
0 0  0                 inf      0  0                 inf                NaN
1 1  2                 1.0      1  2                 1.0                1.0
2 2  4                 0.5      2  4                 0.5                4.0
3 3  6  0.3333333333333333      3  6  0.3333333333333333                9.0
4 4  8                0.25      4  8                0.25               16.0
5 5 10                 0.2      5 10                 0.2 24.999999999999996
6 6 12 0.16666666666666666      6 12 0.16666666666666666               36.0
7 7 14 0.14285714285714285      7 14 0.14285714285714285  49.00000000000001
8 8 16               0.125      8 16               0.125               64.0
9 9 18  0.1111111111111111      9 18  0.1111111111111111               81.0

In [8]:
print(df.physipy.dequantify().dtypes)
df.physipy.dequantify()

       unit
a      m          physipy[m]
b      m          physipy[m]
c      1/m      physipy[1/m]
nparr  -               int64
d      m          physipy[m]
e      1/m      physipy[1/m]
g      m**2    physipy[m**2]
dtype: object

     a  b                   c nparr  d                   e                  g
unit m  m                 1/m     -  m                 1/m               m**2
0    0  0                 inf     0  0                 inf                NaN
1    1  2                 1.0     1  2                 1.0                1.0
2    2  4                 0.5     2  4                 0.5                4.0
3    3  6  0.3333333333333333     3  6  0.3333333333333333                9.0
4    4  8                0.25     4  8                0.25               16.0
5    5 10                 0.2     5 10                 0.2 24.999999999999996
6    6 12 0.16666666666666666     6 12 0.16666666666666666               36.0
7    7 14 0.14285714285714285     7 14 0.14285714285714285  49.00000000000001
8    8 16               0.125     8 16               0.125               64.0
9    9 18  0.1111111111111111     9 18  0.1111111111111111               81.0

In [9]:
print(df["g"].physipy.dimension)
df["g"].physipy._SI_unitary_quantity

L**2

# Numpy performance

In [11]:
arr = np.arange(10)
arrq = arr * m
arrqar = QuantityArray(arrq)
arrnps = pd.Series(arr)
arrs = pd.Series(arrq, dtype="physipy[m]")

%timeit np.sqrt(arr)
%timeit np.sqrt(arrq)
%timeit np.sqrt(arrqar)
%timeit np.sqrt(arrnps)
%timeit np.sqrt(arrs)

802 ns ± 3.5 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)
22.3 µs ± 800 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)
440 µs ± 5.02 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
75 µs ± 1.41 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)
552 µs ± 7.46 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)