In [2]:
import sys
sys.path.append(r"/Users/t0160971/Documents/MODULES/physipandas")
import numpy as np
import pandas as pd
import physipy
from physipy import m, s, DimensionError, K, Dimension, units

import physipandas
from physipandas import QuantityDtype, QuantityArray

print(pd.__version__, 
      np.__version__, 
      physipy.__version__,
     physipandas.__version__,
     )

1.3.0 1.21.0 0.2.2 0.0.1

# Creation of series

In [3]:

CREATION_DICT = {
    "a":("pd.Series(QuantityArray(np.arange(10)*m))", 
          pd.Series(QuantityArray(np.arange(10)*m))),
    "b":("pd.Series(QuantityArray(np.arange(10)*m), dtype='physipy[m]')",
          pd.Series(QuantityArray(np.arange(10)*m), dtype="physipy[m]")),
    "c":("pd.Series(QuantityArray(np.arange(10)*m), dtype=QuantityDtype(m))",
          pd.Series(QuantityArray(np.arange(10)*m), dtype=QuantityDtype(m))),
    "d":("pd.Series(np.arange(10)*m, dtype='physipy[m]')",
          pd.Series(np.arange(10)*m, dtype="physipy[m]")),
}

for k, v in CREATION_DICT.items():
    print(v[0])

for k, v in CREATION_DICT.items():
    s = v[1]
    print(k, 
          s.ndim, 
          s.shape,
          s.name,
          s.size, 
          #s.nbytes,
          s.index, len(s),
          s.dtype,
          s.dtypes,
          s[0],
          s.iat[1],
          s.loc[0],
          s.iloc[0],
         )

pd.Series(QuantityArray(np.arange(10)*m))
pd.Series(QuantityArray(np.arange(10)*m), dtype='physipy[m]')
pd.Series(QuantityArray(np.arange(10)*m), dtype=QuantityDtype(m))
pd.Series(np.arange(10)*m, dtype='physipy[m]')
a 1 (10,) None 10 RangeIndex(start=0, stop=10, step=1) 10 physipy[m] physipy[m] 0 m 1 m 0 m 0 m
b 1 (10,) None 10 RangeIndex(start=0, stop=10, step=1) 10 physipy[m] physipy[m] 0 m 1 m 0 m 0 m
c 1 (10,) None 10 RangeIndex(start=0, stop=10, step=1) 10 physipy[m] physipy[m] 0 m 1 m 0 m 0 m
d 1 (10,) None 10 RangeIndex(start=0, stop=10, step=1) 10 physipy[m] physipy[m] 0 m 1 m 0 m 0 m

# Operations

In [4]:
a = pd.Series(np.arange(10)*m, dtype="physipy[m]")

In [5]:
try:
    a+1
except DimensionError:
    print("OK")

print(a+1*m)
print(a+np.arange(10)*m)
print(a+a)
print(2*a)
print(a*2)
print(a**2)
print(a/2)
print(2/a)
print(a**0.5)
print(a[0])
print(a[0:2])
print(a.iloc[0:3])

OK
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9   10
dtype: physipy[m]
0    0
1    2
2    4
3    6
4    8
5   10
6   12
7   14
8   16
9   18
dtype: physipy[m]
0    0
1    2
2    4
3    6
4    8
5   10
6   12
7   14
8   16
9   18
dtype: physipy[m]
0    0
1    2
2    4
3    6
4    8
5   10
6   12
7   14
8   16
9   18
dtype: physipy[m]
0    0
1    2
2    4
3    6
4    8
5   10
6   12
7   14
8   16
9   18
dtype: physipy[m]
0    0
1    1
2    4
3    9
4   16
5   25
6   36
7   49
8   64
9   81
dtype: physipy[m**2]
0   0.0
1   0.5
2   1.0
3   1.5
4   2.0
5   2.5
6   3.0
7   3.5
8   4.0
9   4.5
dtype: physipy[m]
0                  inf
1                  2.0
2                  1.0
3   0.6666666666666666
4                  0.5
5                  0.4
6   0.3333333333333333
7   0.2857142857142857
8                 0.25
9   0.2222222222222222
dtype: physipy[1/m]
0                  0.0
1                  1.0
2   1.4142135623730951
3   1.7320508075688772
4                  2.0
5     2.23606797749979
6    2.449489742783178
7   2.6457513110645907
8   2.8284271247461903
9                  3.0
dtype: physipy[m**0.5]
0 m
0   0
1   1
dtype: physipy[m]
0   0
1   1
2   2
dtype: physipy[m]

# Numpy ufuncs

In [6]:
print(np.sqrt(a))
print(np.abs(a))
print(np.prod(a))
print(np.hypot(a, a))
print(np.trapz(a))
print(np.mean(a))
print(np.sort(a))

0                  0.0
1                  1.0
2   1.4142135623730951
3   1.7320508075688772
4                  2.0
5     2.23606797749979
6    2.449489742783178
7   2.6457513110645907
8   2.8284271247461903
9                  3.0
dtype: physipy[m**0.5]
0   0
1   1
2   2
3   3
4   4
5   5
6   6
7   7
8   8
9   9
dtype: physipy[m]
0 m**10
0                  0.0
1   1.4142135623730951
2   2.8284271247461903
3    4.242640687119285
4    5.656854249492381
5   7.0710678118654755
6     8.48528137423857
7    9.899494936611665
8   11.313708498984761
9   12.727922061357855
dtype: physipy[m]
40.5
4.5 m
[0 1 2 3 4 5 6 7 8 9]

In [7]:
print(any(a))
print(all(a))
# print(sum(a)) # start init value dimension error

True
False

df = pd.DataFrame({"a": pd.Series([1, 2.1, 2., 3.]*m, dtype="physipy[m]")})
print(df["a"])
df.unstack()

# Dataframes

In [9]:
import warnings
warnings.simplefilter("ignore")

In [20]:
df = pd.DataFrame({
    "np_arr":np.arange(10),         # numpy array
    "physipy_arr":pd.Series(np.arange(10)*m, dtype="physipy[m]"),


}) # quantity array 
df

   np_arr physipy_arr
0       0           0
1       1           1
2       2           2
3       3           3
4       4           4
5       5           5
6       6           6
7       7           7
8       8           8
9       9           9

In [26]:
df["physipy_arr"]

0   0
1   1
2   2
3   3
4   4
5   5
6   6
7   7
8   8
9   9
Name: physipy_arr, dtype: physipy[m]

In [13]:
J = units["J"]

In [14]:
df = pd.DataFrame({
    "np_arr":np.arange(20),         # numpy array
    "physipy_arr":np.arange(20)*m,  # meter
    "squared":np.arange(20)*m**2,   # squared meter
    "power":np.random.normal(0, 1, 20)*J, # Joules
})
df

    np_arr physipy_arr  squared                               power
0        0         0 m   0 m**2    -0.9383077183127335 kg*m**2/s**2
1        1         1 m   1 m**2   0.016667518850680817 kg*m**2/s**2
2        2         2 m   2 m**2     0.1513295312335746 kg*m**2/s**2
3        3         3 m   3 m**2        -1.924527695826 kg*m**2/s**2
4        4         4 m   4 m**2   -0.42656408079033226 kg*m**2/s**2
5        5         5 m   5 m**2     0.8433350114019575 kg*m**2/s**2
6        6         6 m   6 m**2    -0.6338528039773308 kg*m**2/s**2
7        7         7 m   7 m**2     1.2052854928091774 kg*m**2/s**2
8        8         8 m   8 m**2  -0.048905104927367736 kg*m**2/s**2
9        9         9 m   9 m**2    -0.9855191486213787 kg*m**2/s**2
10      10        10 m  10 m**2   -0.07901416518672601 kg*m**2/s**2
11      11        11 m  11 m**2     1.9980146606598312 kg*m**2/s**2
12      12        12 m  12 m**2    0.39492723593045564 kg*m**2/s**2
13      13        13 m  13 m**2     0.6761483852021395 kg*m**2/s**2
14      14        14 m  14 m**2    -1.5311083671119545 kg*m**2/s**2
15      15        15 m  15 m**2    -0.5394076319666902 kg*m**2/s**2
16      16        16 m  16 m**2    -0.3527310303897713 kg*m**2/s**2
17      17        17 m  17 m**2      0.852151414145199 kg*m**2/s**2
18      18        18 m  18 m**2     -0.879093111309781 kg*m**2/s**2
19      19        19 m  19 m**2     0.5417140350288664 kg*m**2/s**2

In [15]:
df = pd.DataFrame({"a":a, "b":2*a, "c":1/a, "nparr":np.arange(10)})

In [18]:
df = pd.DataFrame({"a":a, "b":2*a, "c":1/a,
                  # "nparr":np.arange(10),
                  })

df["d"] = 2*df["a"]
df["e"] = 2/df["d"]
df["g"] = df["e"]*df["a"]/df["c"]**2
df["i"] = np.random.normal(0, 1, 10)*units["W"]
df["h"] = QuantityArray(np.random.normal(0, 1, 10)*units["W"])
print(df.dtypes)
df

a               physipy[m]
b               physipy[m]
c             physipy[1/m]
d               physipy[m]
e             physipy[1/m]
g            physipy[m**2]
i                   object
h    physipy[kg*m**2/s**3]
dtype: object

,a,b,c,d,e,g,i,h
0,0,0,inf,0,inf,NaN,-1.1467765770001024 kg*m**2/s**3,-2.251841028643915
1,1,2,1.0,2,1.0,1.0,-0.6641745805685134 kg*m**2/s**3,-0.6833271797232098
2,2,4,0.5,4,0.5,4.0,-1.1701420366175599 kg*m**2/s**3,1.0581432971981017
3,3,6,0.3333333333333333,6,0.3333333333333333,9.0,0.9698752404967841 kg*m**2/s**3,-1.35710353889187
4,4,8,0.25,8,0.25,16.0,0.5408071070310547 kg*m**2/s**3,1.2668766837207481
5,5,10,0.2,10,0.2,24.999999999999996,-1.4372497198945915 kg*m**2/s**3,-0.398086719399705
6,6,12,0.16666666666666666,12,0.16666666666666666,36.0,0.6301341179953713 kg*m**2/s**3,0.35533851002650446
7,7,14,0.14285714285714285,14,0.14285714285714285,49.00000000000001,-0.29538211763435657 kg*m**2/s**3,1.137567065173436
8,8,16,0.125,16,0.125,64.0,-0.8609876544583098 kg*m**2/s**3,-0.1266457149783336
9,9,18,0.1111111111111111,18,0.1111111111111111,81.0,-0.06698008145326213 kg*m**2/s**3,2.0698751439280856

In [19]:
df["e"]

0                   inf
1                   1.0
2                   0.5
3    0.3333333333333333
4                  0.25
5                   0.2
6   0.16666666666666666
7   0.14285714285714285
8                 0.125
9    0.1111111111111111
Name: e, dtype: physipy[1/m]

In [11]:
df.physipy.show()

,a,b,c,nparr,d,e,g,h
unit,m,m,1/m,-,m,1/m,m**2,kg*m**2/s**3
0,0,0,inf,0,0,inf,NaN,1.0127149812456122
1,1,2,1.0,1,2,1.0,1.0,1.1285135566771698
2,2,4,0.5,2,4,0.5,4.0,-0.5458862316006414
3,3,6,0.3333333333333333,3,6,0.3333333333333333,9.0,0.4468391721826807
4,4,8,0.25,4,8,0.25,16.0,2.7180127168013155
5,5,10,0.2,5,10,0.2,24.999999999999996,-1.3779777280575276
6,6,12,0.16666666666666666,6,12,0.16666666666666666,36.0,-0.4781306980754657
7,7,14,0.14285714285714285,7,14,0.14285714285714285,49.00000000000001,0.34502888266915627
8,8,16,0.125,8,16,0.125,64.0,0.25548807041136196
9,9,18,0.1111111111111111,9,18,0.1111111111111111,81.0,0.35232799768894346

In [17]:
print(df["g"].physipy.dimension)
df["g"].physipy._SI_unitary_quantity

L**2

# Numpy performance

In [11]:
arr = np.arange(10)
arrq = arr * m
arrqar = QuantityArray(arrq)
arrnps = pd.Series(arr)
arrs = pd.Series(arrq, dtype="physipy[m]")

%timeit np.sqrt(arr)
%timeit np.sqrt(arrq)
%timeit np.sqrt(arrqar)
%timeit np.sqrt(arrnps)
%timeit np.sqrt(arrs)

802 ns ± 3.5 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)
22.3 µs ± 800 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)
440 µs ± 5.02 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
75 µs ± 1.41 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)
552 µs ± 7.46 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)